<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="utf-8">
        <title>Оглавление</title>
        <script src="webjars/sockjs-client/1.0.2/sockjs.js"></script>
        <script src="webjars/stomp-websocket/2.3.3/stomp.js"></script>
        <link rel="stylesheet" th:href="${theme}">          <!--Контент внутри main-->
        <link rel="stylesheet" href="styles/main_page_main_theme.css">
        <link rel="stylesheet" href="styles/oglavlenie.css">
        <link rel="shortcut icon"  href="img/favicon.ico" type="image/x-icon">

        <!---Иконки для менюшки-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Google Fonts Viaoda Libre для заголовков-->
        <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
        <!--Google Fonts Roboto для основного текста-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

        <script th:if="${theme.equals('styles/main_page_dark.css')}" src="js/oglavlenie_script_dark.js"></script>
        <script th:if="${theme.equals('styles/main_page_light.css')}" src="js/oglavlenie_script_light.js"></script>

    </head>
    <body class="background">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

        <div class="container-fluid">
            <a name="home_anchor"></a>
            <nav class="row justify-content-evenly navbar navbar-expand-xxl sticky-top" id="pageHeader">
                <button class="navbar-toggler text-left" type="button" data-toggle="collapse" data-target="#pageMenu" aria-controls="pageMenu" aria-expanded="false" id="menuBar" onclick="openNavBar()">
                    <span class="navbar-toggler-icon" id="menuIcon"><i class="fa fa-bars"></i></span>
                </button>
                <div>
                    <a class="navbar-brand" href="#home_anchor"><p class="name_style">SideStory</p></a>
                </div>
                <div class="col-lg-2 col-md-3 d-flex stylish justify-content-around" id="profileBlock">
                    <div class="row align-content-center img_profile">
                        <img sec:authorize="isAnonymous()" src="/img/profile.jpg" width="70px">
                        <p sec:authorize="isAuthenticated()">
                            <img th:if="${users.getImg()}" th:src="@{'/usersImages/'+${users.getImg()}}" width="70px" height="70px">
                            <img th:unless="${users.getImg()}" src="/img/profile.jpg" width="70px">
                        </p>
                    </div>
                    <div class="row d-flex align-items-center flex-md-column flex-lg-column">
                        <p class="span_block_p" sec:authorize="isAnonymous()">
                            <a class="span_profile" href="/login">Войдите</a>
                        </p>
                        <p class="span_block_p" sec:authorize="isAuthenticated()">
                        <div sec:authorize="hasAnyAuthority('USER')">
                            <a class="span_profile" href="/profile" th:text="${users.getUsername()}"></a>
                        </div>
                        <div sec:authorize="hasAnyAuthority('MODERATOR', 'ADMIN')">
                            <a class="span_profile" href="/admin">Консоль БД</a>
                        </div>
                        </p>
                        <p class="span_block_p" sec:authorize="isAuthenticated()">
                            <a class="span_profile" th:href="@{/logout}" >Выйти</a>
                        </p>
                    </div>
                </div>
                <div class="collapse navbar-collapse overlay-content" id="pageMenu">
                    <ul class="navbar-nav icon-bar">
                        <li class="nav-item">
                            <a class="nav-link" href="/main" id="homeIcon">
                                <i class="fa fa-home" data-tooltip="Домой"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#home_anchor" onclick="openNav()" id="searchIcon">
                                <i class="fa fa-search" data-tooltip="Поиск"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/instruction">
                                <i class="fa fa-question" data-tooltip="Помощь"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:if="${theme.equals('styles/main_page_dark.css')}" th:href="@{'/themes?currURL=content?novelId='+${novel.getId()}+'&nameTheme=dark'}">
                                <i class="fa fa-adjust" data-tooltip="Светлая тема"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:if="${theme.equals('styles/main_page_dark.css')}" th:href="@{'/themes?currURL=content?novelId='+${novel.getId()}+'&nameTheme=light'}">
                                <i class="fa fa-adjust" data-tooltip="Темная тема"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">
                                <i class="fa fa-user" data-tooltip="Юзер"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row">
                <div class="col-sm-1-2 position" id="pageMenu1">
                    <ul class="icon-bar">
                        <li>
                            <a href="/main" id="homeIcon">
                                <i class="fa fa-home" data-tooltip="Домой"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#home_anchor" onclick="openNav()" id="searchIcon">
                                <i class="fa fa-search" data-tooltip="Поиск"></i>
                            </a>
                        </li>
                        <li>
                            <a  href="/instruction">
                                <i class="fa fa-question" data-tooltip="Помощь"></i>
                            </a>
                        </li>
                        <li>
                            <a th:if="${theme.equals('styles/main_page_dark.css')}" th:href="@{'/themes?currURL=content?novelId='+${novel.getId()}+'&nameTheme=dark'}">
                                <i class="fa fa-adjust" data-tooltip="Светлая тема"></i>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" th:if="${theme.equals('styles/main_page_light.css')}" th:href="@{'/themes?currURL=content?novelId='+${novel.getId()}+'&nameTheme=light'}">
                                <i class="fa fa-adjust" data-tooltip="Темная тема"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col d-flex flex-md-wrap flex-sm-wrap flex-wrap main" id="main">
                    <div class="content_block">
                        <span class="content_header">ОГЛАВЛЕНИЕ</span>
                    </div>
                    <div class="d-flex col justify-content-start block_chapter" th:each="chapter:${chapters}">
                        <p class="for_chapters">
                            <a style="display: none" class="ch_href" ></a>
                            <span th:text="${chapter.getNameSource()}"></span>
                            <button id="buttonContent" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" th:data-novelId="${chapter.getNovel().getId()}" th:data-href="${chapter.getSource()}" th:data-novelURL="${chapter.getNovel().getNovelURL()}">
                                Играть
                            </button>
                        </p>
                    </div>
                </div>



                <div id="mySidenav" class="sidenav">
                    <div class="d-flex">
                        <p class="krestik" onclick="closeNav()">X</p>
                        <p class="search_p">Поиск</p>
                    </div>
                    <form>
                        <input type="search" placeholder="Введите искомое здесь..." title="searchline" id="textToFind"
                               onkeyup="searchOnPage()">
                        <button class="search_submit" type="submit" title="submit"></button>
                    </form>
                    <ul id="menuSearch" th:each="novel:${novelsAll}">
                        <li><a th:href="@{'/info?novelURL='+ ${novel.getNovelURL()}}" th:text="${novel.getNovelName()}"></a></li>
                    </ul>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Выберете персонажа</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="one">
                            </div>
                            <div class="modal-footer" id="two">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script type="text/javascript" src="js/modalScript.js"></script>
    </body>
</html> 