<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="utf-8">
        <title>Оглавление</title>
        <link rel="stylesheet" th:href="${theme}">          <!--Контент внутри main-->
        <link rel="stylesheet" href="styles/main_page_main_theme.css">
        <link rel="stylesheet" href="styles/oglavlenie.css">
        <link rel="shortcut icon"  href="img/favicon.ico" type="image/x-icon">

        <!---Иконки для менюшки-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Google Fonts Viaoda Libre для заголовков-->
        <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
        <!--Google Fonts Roboto для основного текста-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script th:if="${theme.equals('styles/main_page_dark.css')}" src="js/oglavlenie_script_dark.js"></script>
        <script th:if="${theme.equals('styles/main_page_light.css')}" src="js/oglavlenie_script_light.js"></script>
    </head>
    <body class="background">

        <header id="pageHeader">
            <a name="home_anchor"></a>
            <p class="name_style">SideStory</p>
            <div class="stylish">
                <div class="img_profile">
                    <img sec:authorize="isAnonymous()" src="/img/profile.jpg" width="70px">
                    <p sec:authorize="isAuthenticated()">
                        <img th:if="${users.getImg()}" th:src="@{'/usersImages/'+${users.getImg()}}" width="70px" height="70px">
                        <img th:unless="${users.getImg()}" src="/img/profile.jpg" width="70px">
                    </p>
                </div>
                <div class="span_block">
                    <p class="span_block_p" sec:authorize="isAnonymous()">
                        <a class="span_profile" href="/login">Войдите</a>
                    </p>
                    <p class="span_block_p" sec:authorize="isAuthenticated()">
                        <a class="span_profile" href="/profile" th:text="${users.getUsername()}"></a>
                    </p>
                    <p class="span_block_p"  sec:authorize="isAuthenticated()">
                        <a class="span_profile" th:href="@{/logout}">Выйти</a>
                    </p>
                </div>
            </div>
        </header>

        <div id="menuBar">
            <div class="icon-bar">
                <a href="#home_anchor" class="active" onclick="dropMenu()" id="menuIcon"><i class="fa fa-bars"></i></a>
            </div>
        </div>  

        <div id="pageMenu">
                <div class="icon-bar">
                    <a href="/main" id="homeIcon"><i
                            class="fa fa-home"></i></a>
                    <a href="#home_anchor" onclick="openNav()" id="searchIcon"><i class="fa fa-search"></i></a>
                    <a href="/instruction"><i class="fa fa-question"></i></a>
                    <a th:if="${theme.equals('styles/main_page_dark.css')}" th:href="@{'/themes?currURL=content?novelId=' + ${novel.getId()}+'&nameTheme=dark'}">
                        <i class="fa fa-adjust" data-tooltip="Светлая тема"></i>
                    </a>
                    <a th:if="${theme.equals('styles/main_page_light.css')}" th:href="@{'/themes?currURL=content?novelId=' + ${novel.getId()}+'&nameTheme=light'}">
                        <i class="fa fa-adjust" data-tooltip="Темная тема"></i>
                    </a>
                </div>
        </div>

        <div id="mySidenav" class="sidenav">
            <p class="search_p">Поиск</p>
            <form>
                <input type="search" placeholder="Введите искомое здесь..." title="searchline" id="textToFind"
                    onkeyup="searchOnPage()">
                <button type="submit" title="submit"></button>
            </form>
            <ul id="menuSearch" th:each="novel:${novelsAll}">
                <li><a th:href="@{'/info?novelURL='+ ${novel.getNovelURL()}}" th:text="${novel.getNovelName()}"></a></li>
            </ul>
        </div>

        <div id="main">
            <div style="display: flex; flex-direction: column">
                <div class="content_block">
                    <span class="content_header">ОГЛАВЛЕНИЕ</span>
                </div>
                <div class="block_chapter" th:each="chapter:${chapters}">
                    <p class="for_chapters"><a th:href="@{'game_pages/' + ${chapter.getNovel().getNovelURL()} + '/' + ${chapter.getCurrentCharacter()} + '/' + ${chapter.getSource()}}" th:text="${chapter.getNameSource()}"></a></p>
                </div>
        
        
                <div id="ch_2d">
                    <div id="okno_wolf_d">
                        За кого вы хотите играть? <a href="#home_anchor">&times;</a> <br>
                        <img src="img/Чан Ген.jpg" alt="Чан Ген">
                        <img src="img/Гу Юнь.jpg" alt="Шэнь Шилю">
                        <div>
                            <div><a href="Чан Ген/2 глава/ch_2_1.html"
                                    class="close">Чан Ген</a></div>
                            <div><a href="#" class="close">Шэнь Шилю</a></div>
                        </div>
                    </div>
                </div>
        
                <div id="ch_3d">
                    <div id="okno_wolf_d">
                        За кого вы хотите играть? <a href="#home_anchor">&times;</a> <br>
                        <img src="img/Чан Ген.jpg" alt="Чан Ген">
                        <img src="img/Гу Юнь.jpg" alt="Шэнь Шилю">
                        <div>
                            <div><a href="Чан Ген/3 глава/ch_3_1.html"
                                    class="close">Чан Ген</a></div>
                            <div><a href="#" class="close">Шэнь Шилю</a></div>
                        </div>
                    </div>
                </div>
        
                <div id="ch_4d">
                    <div id="okno_wolf_d">
                        За кого вы хотите играть? <a href="#home_anchor">&times;</a> <br>
                        <img src="img/Чан Ген.jpg" alt="Чан Ген">
                        <img src="img/Гу Юнь.jpg" alt="Шэнь Шилю">
                        <div>
                            <div><a href="Чан Ген/4 глава/ch_4_1.html"
                                    class="close">Чан Ген</a></div>
                            <div><a href="#" class="close">Шэнь Шилю</a></div>
                        </div>
                    </div>
                </div>
        
        
        
            </div>
        </div>

    </body>
</html> 