<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SideStory</title>
    <link rel="stylesheet" href="styles/begin_style.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div class="video_back">
      <div class="overlay">
        <div class="h1_block">
          <h1 class="h1_text">SideStory</h1>
          <p class="some_text">почувствуй себя главным героем</p>
        </div>
        <div class="block_button">
          <a href="/main" class="style_button">[ НАЧАТЬ ]</a>
        </div>
      </div>
      <video loop="" muted="" autoplay="" poster="../static/заставка.jpg">
          <source src="https://onedrive.live.com/download?cid=53A890B55A0C35B9&resid=53A890B55A0C35B9%21233&authkey=AMWA4QF2dTOE7TU" type="video/webm">
      </video>
    </div>
    
  </body>
</html>
