<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="styles/info_page_style.css"> >         <!--Контент внутри main-->
        <link rel="stylesheet" href="styles/main_page_main_theme.css">                  <!--Хедер-->
        <link rel="stylesheet" th:href="${theme}">         <!--Менюшка-->
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">               <!--Фавиконка-->
        
        <!---Иконки для менюшки-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Google Fonts Viaoda Libre для заголовков-->
        <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
        <!--Google Fonts Roboto для основного текста-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title th:text="${novel.getNovelName()}"></title>
        <script th:if="${theme.equals('styles/main_page_dark.css')}" src="/js/info_pages_script_dark.js"></script>
        <script th:if="${theme.equals('styles/main_page_light.css')}" src="/js/info_pages_script_light.js"></script>
    </head>
    <body class="background">

        <header id="pageHeader">
            <a name="main_anchor"></a>
            <p class="name_style">SideStory</p>
            <div class="stylish">
                <div class="img_profile">
                    <img sec:authorize="isAnonymous()" src="/img/profile.jpg" width="70px">
                    <p sec:authorize="isAuthenticated()">
                        <img th:if="${users.getImg()}" th:src="@{'/usersImages/'+${users.getImg()}}" width="70px" height="70px">
                        <img th:unless="${users.getImg()}" src="/img/profile.jpg" width="70px">
                    </p>
                </div>
                <div class="span_block">
                    <p class="span_block_p" sec:authorize="isAnonymous()">
                        <a class="span_profile" href="/login">Войдите</a>
                    </p>
                    <p class="span_block_p" sec:authorize="isAuthenticated()">
                        <a class="span_profile" href="/profile" th:text="${users.getUsername()}"></a>
                    </p>
                    <p class="span_block_p"  sec:authorize="isAuthenticated()">
                        <a class="span_profile" th:href="@{/logout}">Выйти</a>
                    </p>
                </div>
            </div>
        </header>

        <div id="menuBar">
            <div class="icon-bar">
                <a href="#main_anchor" class="active" onclick="dropMenu()" id="menuIcon"><i class="fa fa-bars"></i></a>
            </div>
        </div>

            <div id="pageMenu">
                    <div class="icon-bar">
                        <a href="/main">
                            <i class="fa fa-home"></i>
                        </a>
                        <a href="#main_anchor" onclick="openNav()" id="searchIcon">
                            <i class="fa fa-search"></i>
                        </a>
                        <a href="/instruction">
                            <i class="fa fa-question"></i>
                        </a>
                        <a th:if="${theme.equals('styles/main_page_dark.css')}" th:href="@{'/themes?currURL=info?novelURL='+${novel.getNovelURL()}+'&nameTheme=dark'}">
                            <i class="fa fa-adjust" data-tooltip="Светлая тема"></i>
                        </a>
                        <a th:if="${theme.equals('styles/main_page_light.css')}" th:href="@{'/themes?currURL=info?novelURL='+${novel.getNovelURL()}+'&nameTheme=light'}">
                            <i class="fa fa-adjust" data-tooltip="Темная тема"></i>
                        </a>
                        <a th:href="@{/addNovelToProfile(novelURL=${novel.getNovelURL()})}" style="margin-top: 60px">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a th:href="@{/hadReadNovelToProfile(novelURL=${novel.getNovelURL()})}"><i class="fa fa-check"></i></a>
                    </div>
            </div>

            <div id="mySidenav" class="sidenav">
                <p class="search_p">Поиск</p>
                <form>
                    <input type="search" placeholder="Введите искомое здесь..." id="textToFind" onkeyup="searchOnPage()">
                    <button type="submit"></button>
                </form>
                <ul id="menuSearch" th:each="novel:${novelsAll}">
                    <li><a th:href="@{'/info?novelURL='+ ${novel.getNovelURL()}}" th:text="${novel.getNovelName()}"></a></li>
                </ul>
            </div>

        <a id="sorry" onload="createInfoBlocks('Приносим свои извинения! Эта новелла ещё не готова. Оставайтесь с нами!', '../img/age.jpg', '#sorry' , '#home_anchor')"></a>
        <div id="main" >
            <div class="block_style">
                <img th:src="@{'/img/' + ${novel.getNovelImg()}}" class="front">
                <h1 class="h3_info"><b th:text="${novel.getNovelName()}"></b></h1>
                <p class="p_info" th:text="${novel.getNovelDescription()}"></p>
                <br><br>
                <div class="p_info"><b class="attention">Рейтинг:</b><span th:text="${novel.getNovelRating()}"></span></div>
                <div class="p_info"><b class="attention">Жанры:</b><span th:text="${novel.getNovelGenre()}"></span></div>
                <div class="p_info"><b class="attention">Aвтор:</b><span th:text="${novel.getNovelAuthor()}"></span></div>
                <div class="p_info"><b class="attention">Предупреждения:</b><span th:text="${novel.getNovelAttention()}"></span></div>
                <div class="p_info"><b class="attention">Возрастное ограничение:</b><span th:text="${novel.getRatingAge()}"></span>+</div>

                <div class="bottom">
                    <div class="button_style_info">
                        <!--<a href="#main_anchor" class="source" target="_self" onclick="createInfoBlocks('Вам точно есть 18+?', '../  ../../img/age.jpg', '#sorry' , '#home_anchor')">ИГРАТЬ</a>-->
                        <a class="source_info" target="_self" th:href="@{'/content?novelId=' + ${novel.getId()}}">ИГРАТЬ</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="footer_info_container">
                <p class="footer_name_style">
                    SideStory
                </p>
                <div class="mini_map">
                    <p><a href="#home_anchor">Главная</a></p>
                    <p><a href="#home_anchor" onclick="openNav()" id="searchIcon">Поиск</a></p>
                    <p><a href="/instruction">Помощь в игре</a></p>
                    <p>
                        <a th:if="${theme.equals('styles/main_page_dark.css')}" th:href="@{'/themes?currURL=info&nameTheme=dark'}">
                            Светлая тема
                        </a>
                    </p>
                    <p>
                        <a th:if="${theme.equals('styles/main_page_light.css')}" th:href="@{'/themes?currURL=info&nameTheme=light'}">
                            Темная тема
                        </a>
                    </p>
                </div>
            </div>
            <div class="donate">
                Админу на печеньки: +7(985)380-27-17
            </div>
        </div>
    </body>
</html>