<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="utf-8">
        <title>Профиль</title>
        <link rel="stylesheet" href="/styles/main_page_dark.css" id="theme-link">         <!--Контент внутри main-->
        <link rel="stylesheet" href="/styles/main_page_main_theme.css">
        <link rel="stylesheet" href="/styles/profile_styles.css">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">               <!--Фавиконка-->

        <!---Иконки для менюшки-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Google Fonts Viaoda Libre для заголовков-->
        <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
        <!--Google Fonts Roboto для основного текста-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="/js/main_page_script_dark.js"></script>
    </head>
    <body>
        <header id="pageHeader">
            <a name="home_anchor"></a>
            <p class="name_style">SideStory</p>
            <div class="stylish">
                <div class="img_profile">
                    <img src="/img/profile.jpg" width="70px">
                </div>
                <div class="span_block">
                    <a class="span_profile" href="/login" sec:authorize="isAnonymous()">Войдите</a>
                </div>
            </div>
        </header>

        <div id="menuBar">
            <div class="icon-bar">
                <a href="#home_anchor" class="active" onclick="dropMenu()" id="menuIcon"><i class="fa fa-bars"></i></a>
            </div>
        </div>  


        <div id="pageMenu">
            <div class="icon-bar">
                <a href="/main" id="homeIcon">
                    <i class="fa fa-home" data-tooltip="Домой"></i>
                </a>
                <a href="/instruction">
                    <i class="fa fa-question" data-tooltip="Помощь"></i>
                </a>
                <a href="#" onclick="ChangeTheme()">
                    <i class="fa fa-adjust" data-tooltip="Светлая тема"></i>
                </a>
            </div>
        </div>


        <div id="main">
            <div class="main_login">
                <p class="login_header">Регистрация</p>
                <p class="help_text">Зарегистрируйтесь, чтобы получить полный доступ к возможностям сайта</p>
                <div class="form_login">
                    <form th:action="@{/registration}" th:object="${user}" method="post">
                        <label for="username">Username:
                            <input type="text" th:field="*{username}" id="username" name="username" class="input_login" placeholder="Логин">
                        </label>
                        <div style="background-color: red; color: #1b1209" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
                        <label for="password">Password:
                            <input type="password" th:field="*{password}" id="password" name="password" class="input_login" placeholder="Пароль">
                        </label>
                        <div style="background-color: red; color: #1b1209" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>-->
                        <!--<label for="password2">Repeat password:
                            <input type="password" th:field="*{passwordConfirm}" id="password2" name="passwordConfirm" class="input_login" placeholder="Пароль">
                        </label>
                        <div style="background-color: red; color: #1b1209" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{password}">Password error</div>-->
                        <input class="button_sub" type="submit" value="Отправить">
                    </form>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="footer_info_container">
                <p class="footer_name_style">
                    SideStory
                </p>
                <div class="mini_map">
                    <p><a href="#home_anchor">Главная</a></p>
                    <p><a href="/instruction">Помощь в игре</a></p>
                    <p><a href="#" onclick="ChangeTheme()">Смена темы сайта</a></p>
                </div>
            </div>
            <div class="donate">
                Админу на печеньки: +7(985)380-27-17
            </div>
        </div>
    </body>
</html>