*{
    margin: 0;
    padding: 0;
}
@media(min-width: 320px) and (max-width: 749px){

}
@media (min-width:750px) and (max-width: 1023px){

}
@media (min-width: 1024px) and (max-width: 2560px){
    #menuBar{
        visibility: hidden;
    }
    #pageMenu{                                      /*менюшка*/
        border-right: 5px solid rgb(75, 59, 28);
    }
}
body{    
    background-color: #dfdfdf;                                           /*контейнер*/
}
#pageHeader{                                    /*хедер*/
    border-bottom: 5px solid rgb(75, 59, 28);
    background: radial-gradient(100% 80% ,#978568, #6b5a3f);
}
#footer{
    border-top: 5px solid rgb(75, 59, 28);
    background: radial-gradient(100% 80%, #978568, #6b5a3f);
}
.block_style{                                       /*сам блок*/
    border-bottom: 2px solid rgb(75, 59, 28);
}
.headerBlock{
    color: #524833;
}
.infoBlock{
    color: #241d0b;
}
.infoBlock a, .p_info, .h3_info{
    color: #4d4431;
}
.attention{
    color: #3f2f09;
}
.infoBlock a:hover{
    color: #887d62;
}
.block_style:hover{
    background-color: #e9e9e9ee;
}
.headerBlock:hover{
    color: #887d62;
}
.playButton{                                          /*кнопка*/
    border: 2px solid #6b6b6b;
}
.playButton:hover, .button_style_info:hover{                                          /*кнопка*/
    background: radial-gradient(#dbc7a7, #83683d);
    border: 2px solid #412a14;
}
.source, .source_info{
    color: #383429;
}
.name_style{
    color: #e9e9e9;
}
.footer_name_style{
    color: #e9e9e9;
}
.mini_map p > a{
    color: #161207;
}
.donate{
    color:  #161207;
}
.stylish{
    border-left: 3px solid rgb(75, 59, 28);
}
.stylish:hover{
    background-color: #f5dcc057;
}
.span_profile{
    color: #fcfcfc;
}
.icon-bar a {
    color: #f3f1f1;
}
.icon-bar a:hover {
    background-color: rgb(233, 233, 233); 
}
.active {
    background-color: #857154;
}
#menuSearch li a{
    color: #d1d1d1;
}
.search_p{
    color: #d1d1d1;
}
input {
    border: 2px solid #cfcfcf;
    background: #F9F0DA;
    color: #9E9C9C;
}
button{
    background: #d1d1d1;
}
button:before {
    color: #fffaec;
}
#menuSearch li a:hover{
    background-color: #ffffff;
}
.block-with-info{
    background: rgb(143, 120, 103);
    border: 3px solid #2b2211;
    color: #ebe4d5;
}
.close {                                                /*кнопки в окне*/
    border: 1px solid #2b2211;
    color: #1b1209;
    background: #ebe4d5;
}
.content_header {
    color: #524833;
}
.for_chapters > a {
    color: #675014;
}
.main_info{
    border-bottom: 2px solid rgb(75, 59, 28);
}
.profile_username{
    color: #3f2f09;
}
.profile_checkboks > p{
    color: #675014;
}
.profile_info{
    color: #675014;
}
.now_read{
    border-right: 3px solid rgb(75, 59, 28);
}
.now_read > span, .had_read > span{
    color: #ffffff;
    border-bottom: 2px solid rgb(75, 59, 28);
    background-color: #ceba85;
}
.novel{
    border: 2px solid rgb(171, 155, 145);
    background-color: #d9d9d9;
}
.novel:hover{
    border: none;
    background-color: #bebebe;
}
.profile_novel_name{
    color: #675014;
}
.play_button{
    border: 2px solid #7e6d36;
    color: #675014;
}
.play_button:hover{
    background: radial-gradient(#a7965e, #7e6d36);
    border: 2px solid #272727;
}
.login_header{
    color: #675014;
}
.help_text{
    color: #675014;
}
.form_login > form > label{
    color: #675014;
}
.profile_checkboks > label{
    color: #675014;
}
.error_messages{
    background-color: #d0d0d0;
    color: #1b1209;
}