@media (min-width:320px) and (max-width: 749px){
    .main{
        flex-direction: column;
    }
    .content_block{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        padding: 25px;
    }
    .content_header{
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        font-weight: bolder;
    }
    .block_chapter{
        align-items: baseline;
        padding: 12px;
    }
    .for_chapters{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 25px;
    }
    #one{
        display: flex;
        justify-content: center;
    }
    #two{
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width:750px) and (max-width: 1023px){
    .main{
        flex-direction: column;
    }
    .content_block{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        padding: 25px;
    }
    .content_header{
        font-family: 'Roboto', sans-serif;
        font-size: 65px;
        font-weight: bold;
    }
    .block_chapter{
        align-items: baseline;
        padding: 12px;
    }
    .for_chapters{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 30px;
    }
    #one{
        display: flex;
        justify-content: center;
    }
    #two{
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width: 1024px) and (max-width: 2560px){
    .main{
        flex-direction: column;
    }
    .content_block{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        padding: 25px;
    }
    .content_header{
        font-family: 'Roboto', sans-serif;
        font-size: 65px;
        font-weight: bold;
    }
    .block_chapter{
        align-items: baseline;
        padding: 12px;
    }
    .for_chapters{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 30px;
    }
    #one{
        display: flex;
        justify-content: center;
    }
    #two{
        display: flex;
        justify-content: space-between;
    }
    #two > a > span{
        font-size: 20px!important;
    }
}
