.hidden_text_txt{
    font-family: 'Roboto Condensed', sans-serif;
    visibility: hidden;
}
.hidden_text_ch{
    font-family: 'El Messiri', sans-serif;
    visibility: hidden;
}
.hidden_text_sys{
    font-family: 'Anonymous Pro', sans-serif;
    visibility: hidden;
}
.main_text_right{
    font-family: 'El Messiri', sans-serif;
    color: #f7f3e5;
    text-align: right;
}
.main_text_left_characther{
    font-family: 'El Messiri', sans-serif;
    color: #f7f3e5;
    text-align: left;
}
.main_text_left_system{
    font-family: 'Anonymous Pro', monospace;
    color: #f7f3e5;
    text-align: left;
}
.main_text_center{
    font-family: 'Roboto Condensed', sans-serif;
    color: #f7f3e5;
    text-align: justify;
}
a{
    text-decoration: none;
    color: #1b6974;
    font-weight: 600;
}
a:hover{
    color: skyblue;
}

